<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->

	<bean class="com.gvacharya.beans.Address" id="address1">
		<property name="area" value="Chembur"/>
		<property name="pincode" value="40074"/>
	</bean>
	<bean class="com.gvacharya.beans.Student" id="student1">
		 <property name="name" value="Jatin"/>
		 <property name="rollNo" value="1"/>
		 <property name="address" ref="address1"></property>
	</bean>
	
	
	
</beans>